<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div id="wrapper" class="container-fluid">

        <!--Start of desktop navigation-->
        <div class="row visible-lg">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div id="logoContainer">
                            <a href="/">
                                <img src="/Content/Img/logo.png" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5" id="header-bulletPoints">
                        <br />
                        <div class="row">
                            <div class="col-md-6">• Werkzeug & Formenbau</div>
                            <div class="col-md-6">• Führungselemente</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">• CNC-Fertigung</div>
                            <div class="col-md-6">• Maschinenbau</div>
                        </div>
                    </div>
                    <div class="col-md-3" id="header-contact">
                        <adress>
                            <table class="contact-table">
                                <tr>
                                    <td>Tel.</td>
                                    <td>031 992 18 37</td>
                                </tr>
                                <tr>
                                    <td>Mobile</td>
                                    <td>079 296 52 33</td>
                                </tr>
                                <tr>
                                    <td>Fax</td>
                                    <td>031 991 12 65</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@normalien-ag.ch">info@normalien-ag.ch</a></td>
                                </tr>
                            </table>
                        </adress>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <!--End of desktop navigation-->

        <!--Start of mobile navigation-->
        <div class="row  hidden-lg">
            <div class="col-md-12">
                <div id="logoContainer">
                    <a href="/">
                        <img src="/Content/Img/logo.png" alt="Logo" />
                    </a>
                </div>
                <nav id="header" class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div id="main-navigation" class="collapse navbar-collapse">
                            <!--Left-->
                            <ul class="nav navbar-nav">

                                <!--Home-->
                                <li class="active"><a href="#">Home</a></li>

                                <!--Firma-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Firma<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Geschichte</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Maschinenpark</a></li>
                                        <li><a href="#">Kontakt</a></li>
                                    </ul>
                                </li>

                                <!--Katalog-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Katalog<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Normsäulen Gestelle</a></li>
                                        <li><a href="#">Gusssäulen Gestelle</a></li>
                                        <li><a href="#">Führungselemente</a></li>
                                        <li><a href="#">Gewindeformen</a></li>
                                        <li><a href="#">Federn & Zubehör</a></li>
                                        <li><a href="#">Preisliste</a></li>
                                    </ul>
                                </li>

                                <!--Massanfertigungen-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Massanfertigungen<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Werkzeugbau</a></li>
                                        <li><a href="#">Formenbau</a></li>
                                        <li><a href="#">Teilefertigung</a></li>
                                        <li><a href="#">Montage</a></li>
                                        <li><a href="#">Führungselemente</a></li>
                                        <li><a href="#">Gewindeformen</a></li>
                                        <li><a href="#">Winkeltisch</a></li>
                                    </ul>
                                </li>

                                <!--Kontakt-->
                                <li><a href="#">Kontakt</a></li>

                            </ul>
                            <!--End of left-->
                            <!--Right-->
                            <ul class="nav navbar-nav navbar-right">

                                <!--Login-->
                                <li><a href="#">Login</a></li>

                            </ul>
                            <!--End of right-->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!--End of mobile navigation-->

        <div class="row">
            <div id="content" class="col-md-12">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div id="footer" class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        Normalien AG<br />
                    </div>
                    <div class="col-md-3">
                        Tel: +41 31 992 18 37
                    </div>
                    <div class="col-md-3">
                        Fax: +41 31 991 12 64
                    </div>
                    <div class="col-md-3">
                        Email: <a href="mailto://info@normalien-ag.ch">info@normalien-ag.ch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
